<div class="recipe-form">
  <div id='action' data-action='<%= params[:controller] %>_<%= params[:action] %>'></div>
  <%= simple_form_for(@recipe) do |f| %>
  	<div class="form-inputs recipe-form-top">
      <%#= f.association :category, as: :check_boxes, class: "control-label check_boxes optional" %>
      <div class="form-group">
        <label class="control-label radio_buttons optional">Catégories</label>
        <div class="category-choices">
          <% Category.all.each do |category| %>
            <input type="radio" class="hidden d-none" value="<%= category.id %>" name="recipe[category_id]" id="recipe_category_id_<%= category.id %>">
            <label for="recipe_category_id_<%= category.id %>" class="category-choice">
              <%= category.name %>
            </label>
          <% end %>
         </div>
      </div>
      <%= f.label :title, "Titre" %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class='measure-form'>
     <!-- <p>Ingrédients</p> -->
      <% if params[:action] == 'new' %>
        <div id="base_ingredient" class="d-none ingredient-choice new-ingredient">
          <%= f.simple_fields_for :measures do |m| %>
            <div class="ingredient-form">
              <div class="form-inputs">
                <%= m.input :ingredient_id, label: "Ingrédient", placeholder: "Recherchez un ingrédient", collection: Ingredient.all, input_html: { class: 'ingredient_input' } %>
              </div>
              <div class="quantity-form">
                <div class="quantity-button">
                  <%= m.input :quantity, placeholder: "50" %>
                </div>
                <div>
                  <span class="display-unit"></span>
                </div>
                  <div class="required">
                    <%= m.input :required, label: "Facultatif" %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <ul id="recipe-ingredients-list"></ul>
      <!-- <div id="first_ingredient" class="ingredient-choice new-ingredient" style="display: none;">
        <%#= f.simple_fields_for :measures do |m| %>
          <div class="ingredient-form">
            <div class="form-inputs">
              <%#= m.input :ingredient_id, label: "Ingrédient", placeholder: "Recherchez un ingrédient", collection: Ingredient.all, input_html: { class: 'ingredient_input select2' } %>
            </div>
            <div class="quantity-form">
              <p> <%#= m.input :quantity, label: "-" %><%#= m.input :quantity %><%#= m.input :quantity, label: "+" %> </p>
              <span class="display-unit"><%#= m.object.ingredient&.unit %></span>
            </div>
              <%#= m.input :required, label: "Fultatif" %>
          </div>
        <%# end %>
      </div> -->
    </div>
      <div class="add-ingredients btn-blue ">
        <i class="fas fa-plus add-icon"></i>
        &nbsp
        <i class="fas fa-flask add-icon"></i>
      </div>

      <%= f.input :photos, as: :file, label: ('<i class="fas fa-plus add-icon"></i> &nbsp  <i class="fas fa-camera add-icon"></i> ').html_safe , input_html: { multiple: true, class: 'hidden' }, label_html: { class: 'btn-blue'}, class: "form-control-file" %>
      <div class="form-actions">
        <%= f.submit "Valider", class: "btn-blue" %>
      </div>
  <% end %>

<!-- formulaire de modification de recette -->
  <div class="new-measure-form d-none form-inputs">
    <div class="new-measure-form-content ingredient-form new-ingredient">
      <div class="form-group">
        <label for="new_measure_id_2">Ingrédient</label>
        <%= select_tag :new_measure_id, options_from_collection_for_select(Ingredient.all, "id", "name"), class: 'ingredient_input' %>
      </div>
      <div class="form-group">
        <label for="">Quantité</label>
        <%= number_field_tag(:new_measure_quantity, value = nil, options = {}) %>
      </div>
      <span class="display-unit">ml</span>
      <div class="form-group">
        <label for="">Facultatif</label>
        <%= check_box_tag(:new_measure_required, value = '1', checked = false, options = {}) %>
      </div>
    </div>
  </div>
</div>
