<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %><%= cl_image_tag(recipe.photos.first.key, height: 300, width: 400, crop: :fill) if recipe.photos.attached? %></li><br>

  <% end %>
</ul>


<% if policy(Recipe).create? %>
	<%= link_to "Ajouter une nouvelle recette", new_recipe_path(@recipe) %> |
<% end %>
<%= link_to "Mes favoris", favorites_path %> |
<%= link_to "Retour", root_path %>