<div class="container recipe_show">
  <h2><%= @recipe.title %></h2>

  <div id="favorite_icon">
    <% if current_user %>
    	<% if @favorite %>
    		<%= link_to favorite_path(@favorite), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
    	<% else %>
    		<%= link_to favorites_path(recipe:@recipe), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
    	<% end %>
    <% end %>
  </div>

  <% @recipe.photos.each do |photo| %>
  	<%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill) %>
  <% end %>
  <% @recipe.measures.each do |measure| %>
    <div id="measures_list">
      <div>
        <%= link_to groceries_path(recipe:@recipe), method: :post, data: { confirm: "Voulez-vous ajouter cet ingrédient à votre liste de course?"} do %>
          <i class="fas fa-cart-arrow-down"></i>
        <% end %>
      </div>
      <div>
        <p> <%= measure.quantity %> <%= measure.ingredient.unit %> - <%= measure.ingredient.name %></p>
      </div>
    </div>
  <% end %>

  <p id="description"><%= @recipe.description %></p>



  <% if user_signed_in? %>
    <%= link_to "Donner votre avis", recipe_path(@recipe, anchor:"review-form") %>
  <% end %>

  <ul>
    <% @recipe.reviews.each do |review| %>
      <li><%= review.rating %></li>
      <li><%= review.content %></li>
      <li>
      	<% if policy(review).edit? %>
  		  	<%= link_to "Modifier", edit_review_path(review, anchor:"review-form") %>
  		  <% end %>
      </li>
      <li><%= link_to "Effacer", review_path(review), method: :delete, data: { confirm: "Êtes-vous sûr(e) ?" } %></li>
    <% end %>
  </ul>

  <!-- Formulaire d'ajout de review -->
  <br>
  <% if user_signed_in? && @recipe.user_id != current_user %>
    <div id="review-form">
    	<%= simple_form_for [ @recipe, @review ] do |f| %>
    		<% if @review.errors.any? %>
    			<%= @review.errors.full_messages %>
    		<% end %>
    	  <%= f.input :rating %>
    	  <%= f.input :content %>
    	  <%= f.submit "Valider votre avis" %>
    	<% end %>
    </div>
  <% end %>
  <br>


  <% if policy(@recipe).edit? %>
  	<%= link_to "Modifier #{@recipe.title}", edit_recipe_path(@recipe) %> |
  <% end %>
  <% if policy(@recipe).destroy? %>
    <%= link_to "Effacer #{@recipe.title}", recipe_path(@recipe), method: :delete, data: { confirm: "Êtes-vous sûr(e) ?" } %> |
  <% end %>
  <%#= link_to "Mes favoris", favorites_path %>
  <%= link_to "Retour", root_path %>
</div>
