<div class="recipe_show">
  <% if policy(@recipe).edit? %>
    <div class="recipe-icons-block">
      <% if policy(@recipe).edit? %>
        <%= link_to edit_recipe_path(@recipe) do %>
        <i class="fas fa-edit show-icon"></i>
        <% end %>
      <% end %>
      <% if policy(@recipe).destroy? %>

        <%= link_to "", recipe_path(@recipe), method: :delete, id: "delete-link", class: "hidden" %>
        <button id="sweet-alert-demo" class="btn btn-link"><i class="fas fa-trash-alt show-icon"></i></button>
      <% end %>
    </div>
  <% end %>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @recipe.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= "active" if index == 0 %>">
        <%= cl_image_tag(photo.key,  :class => "recipe-img" )%>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>


  <div class="recipe-body">

    <div class="favorite_icon">
      <% if current_user %>
        <% if @favorite %>
          <%= link_to favorite_path(@favorite), method: :delete do %>
            <i class="fas fa-heart blue-icon"></i>
          <% end %>
        <% else %>
          <%= link_to favorites_path(recipe:@recipe), method: :post do %>
            <i class="far fa-heart blue-icon"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to  new_user_session_path do %>
          <i class="fas fa-heart blue-icon"></i>
        <% end %>
      <% end %>
    </div>

    <h2><%= @recipe.title %></h2>

    <p class="recipe-titles">Ingrédients</p>
    <% modal_id = 1 %>
    <% @recipe.measures.each do |measure| %>
      <div id="measures_list">
        <div>
          <%= link_to groceries_path(grocery: {measure_id: measure}), method: :post do %>
            <i class="fas fa-cart-arrow-down blue-icon "></i>
          <% end %>
        </div>
        &nbsp &nbsp
        <div>
          <p> <%= measure.quantity %>  <%= measure.ingredient.unit %> - <%= measure.ingredient.name %></p>
        </div>

        <!-- MODALE INFOS-->
        <% if measure.ingredient.alert %>
          <i class="fas fa-info-circle" data-toggle="modal" data-target="#exampleModalLong<%= modal_id %>"></i>


          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Précautions d'utilisation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><%= measure.ingredient.alert %></p>
                </div>
              </div>
            </div>
          </div>
          <!----->
          <% modal_id += 1 %>
        <% end %>
      </div>
    <% end %>

    <p class="recipe-titles">Instructions</p>

    <p id="description"><%= simple_format(@recipe.description) %></p>

    <h3 class="recipe-titles"><%= "#{@recipe.reviews.count} avis" %></h3>
    <% if user_signed_in? && @recipe.user != current_user %>
      <%= link_to "Donnez votre avis", recipe_path(@recipe, anchor:"review-form") %>
    <% end %>

    <div>
      <ul>
        <div class="review-list">
          <% @recipe.reviews.each do |review| %>
            <div class="review">
              <p class="username"> <%= review.user.username %></p>
              <li><%= review.rating.to_i %>/5 <i class="fas fa-star star-review"></i> &nbsp <span class="review-para"><%= review.content %></span>&nbsp
                <div class="icon-reviews">
                	<% if policy(review).edit? %>
            		  	<%= link_to edit_review_path(review, anchor:"review-form") do %>
                      <i class="fas fa-pen rev-i"></i>
                    <% end %>
            		  <% end %>
                  <%= link_to review_path(review), method: :delete, data: { confirm: "Êtes-vous sûr(e) ?" } do %>
                    <i class="far fa-trash-alt rev-i"></i>
                  <% end %>
                </div>
              </li>
            </div>
          <% end %>
        </div>
      </ul>
    </div>

    <!-- Formulaire d'ajout de review -->
    <% if user_signed_in? && @recipe.user != current_user %>
      <div id="review-form">
      	<%= simple_form_for [ @recipe, @review ] do |f| %>
      		<% if @review.errors.any? %>
      			<%= @review.errors.full_messages %>
      		<% end %>
      	  <%= f.input :rating %>
      	  <%= f.input :content %>
      	  <%= f.submit "Publier" %>
      	<% end %>
      </div>
    <% end %>
  </div>
  <%#= link_to "Mes favoris", favorites_path %>
</div>
