<h2><%= @recipe.title %></h2>
<p><%= @recipe.description %></p>
<%= link_to "Donner votre avis", recipe_path(@recipe, anchor:"review-form") %>

<ul>
  <% @recipe.reviews.each do |review| %>
    <li><%= review.rating %></li>
    <li><%= review.content %></li>
    <li><%= link_to "Modifier", edit_review_path(review, anchor:"review-form") %></li>
    <li><%= link_to "Effacer", review_path(review), method: :delete, data: { confirm: "Êtes-vous sûr(e) ?" } %></li>
  <% end %>
</ul>

<!-- Formulaire d'ajout de review -->
<br>
<div id="review-form">
	<%= simple_form_for [ @recipe, @review ] do |f| %>
		<% if @review.errors.any? %>
			<%= @review.errors.full_messages %>
		<% end %>
	  <%= f.input :rating %>
	  <%= f.input :content %>
	  <%= f.submit "Valider votre avis" %>
	<% end %>
</div>
<br>

<%= link_to "Modifier #{@recipe.title}", edit_recipe_path(@recipe) %> |
<%= link_to "Effacer #{@recipe.title}", recipe_path(@recipe), method: :delete, data: { confirm: "Êtes-vous sûr(e) ?" } %> |
<%= link_to "Retour", recipes_path %>