<nav>
  <div class= "dashboard_top">
    <div>
      <h4>Bienvenue, </h2>
    </div>
    <div>
      <%= cl_image_tag current_user.photo.key, width: 80, height: 80, crop: :fill, class: "avatar" if current_user.photo.attached? %>
      <%= current_user.username %>
    </div>
  </div>

  <ul>
    <li>
      <span>
        <% if user_signed_in? %>
          <%= link_to "Mon compte", account_path %>
        <% else %>
          <%= link_to "Inscription", new_user_registration_path %>
        <% end %>
      </span>
    </li>
    <li>
      <span>
        <%= link_to "Contactez-nous", "" %>
        <!-- faire un formulaire de contact -->
      </span>
    </li>
    <li>
      <span>
        <%= link_to "Mentions légales", "" %>
      </span>
    </li>
  </ul>
</nav>
