<h1>Bienvenu(e) sur Wasteless</h1>
<p>Recherchez et partagez vos recettes de produits ménagers et bien-être faits maison !</p>

<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Recherchez une recette, un ingrédient..."
  %>
  <%= submit_tag "Rechercher", class: "btn btn-primary" %>
<% end %>


<div id="recipes">
	<ul>
		<% @recipes.each do |recipe| %>
    		<li><%= link_to recipe.title, recipe_path(recipe) %><%= cl_image_tag(recipe.photos.first.key, height: 300, width: 400, crop: :fill) if recipe.photos.attached? %></li><br>
  	<% end %>
	</ul>
</div>
