<div id="redirect-recipe-js"></div>

<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dhf497t6o/image/upload/v1599135248/handmade-charcoal-soap_lquihp.jpg);" >
    <h1><strong>Bienvenue sur Wasteless</strong></h1>
    <p>Recherchez et partagez vos recettes de produits ménagers et bien-être faits maison !</p>

    <div class="form-inline">
      <%= form_tag root_path, style: "width: 90%", method: :get do %>
        <div class="research">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Trouvez votre recette !"
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<ul class="filter" style="list-style-type: none;">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, root_path(category_id:category.id, query:params[:query]), class: "btn-flat #{"active" if params[:category_id] == category.id.to_s}" %></li>
  <% end %>
</ul>

<div class="results">
  <% if params[:query].present? %>
    <p><%= @recipes.size > 1 ? "#{@recipes.size} résultats" : "#{@recipes.size} résultat" %> </p>
  <% elsif params[:category_id].present? %>
    <p>Nos recettes <%= @category.name.downcase %> </p>
  <% else %>
    <p>Nos dernières recettes</p>
  <% end %>
</div>

<div class="container">
  <div id="recipes">
    <div class="list-container">
      <% @recipes.each do |recipe| %>
        <div class = "recipe-card">
          <div class = "top">
            <div class="card-category" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("<%= cl_image_path(recipe.photos.first.key, width: 617, height: 500, crop: :fill) if recipe.photos.attached? %>")'>
              <div class = "favorites">
                <div id="favorite-icon">
                  <% if current_user %>
                     <% if recipe.favorites.where(user_id: current_user.id).any? %>
                       <%= link_to favorite_path(recipe.favorites.where(user_id: current_user.id).first), method: :delete do %>
                        <i class="fas fa-heart icon"></i>
                       <% end %>
                    <% else %>
                      <%= link_to favorites_path(recipe: recipe), method: :post do %>
                        <i class="far fa-heart icon"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-rating">
                  <% if recipe.average_rating > 0 %>
                    <p class = "rating"><%= "★" * recipe.average_rating %><%= "☆" * (5 - recipe.average_rating) %> <%= " (#{recipe.reviews.count} avis)" %></p>
                  <% else %>
                    <%= "" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class = "bot">
              <%= link_to recipe_path(recipe), class:"next-page" do %>
                <h2><%= recipe.title %></h2>
               <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
