<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552033931-d249575b5ac1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);" >
    <h1><strong>Bienvenue sur Wasteless</strong></h1>
    <p>Recherchez et partagez vos recettes de produits ménagers et bien-être faits maison !</p>

    <div class="form-inline">
      <%= form_tag root_path, style: "width: 90%", method: :get do %>
        <div class="research">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Recherchez une recette"
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div id="recipes">
  	<ul>
  		<% @recipes.order(created_at: :desc).each do |recipe| %>
      		<li>
            <div class="card-recipe">
              <%= cl_image_tag(recipe.photos.first.key, width: 250, crop: :fill) if recipe.photos.attached? %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to recipe.title, recipe_path(recipe) %></h5>
                <p class="card-text">
                  <% if recipe.average_rating > 0 %>
                    <p><%= "★" * recipe.average_rating %><%= "☆" * (5 - recipe.average_rating) %></p>
                  <% else %>
                    <%= "" %>
                  <% end %></p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">❤️</a>
              </div>
            </div>
          </li>
    	<% end %>
  	</ul>
  </div>
</div>
