<div class= "navbar">
  <ul>
    <li>
      <%= link_to "Menu", dashboard_path %>
    </li>
    <li>
      <%= link_to "Favoris", favorites_path %>
    </li>
    <li>
      <%= link_to "Accueil", root_path %>
    </li>
    <li>
      <%= link_to "Liste de courses", root_path %>
    </li>
    <li>
      <%= link_to "Ajouter une recette", new_recipe_path %>
    </li>
  </ul>
</div>
