<div class="text-center">
  <div class="card-footer">
    <ul class="nav nav-pills card-footer-pills">
      <li class="nav-item">
        <%= link_to dashboard_path do %>
          <i class="fas fa-bars nav-link <%=  "nav-link-active" if current_page?(dashboard_path) || current_page?(account_path) || current_page?(edit_user_registration_path) %>"><br><p>Dashboard</p></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to favorites_path do %>
          <i class="fas fa-heart nav-link <%=  "nav-link-active" if current_page?(favorites_path) %>"><br><p>Favoris</p></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to root_path do %>
          <i class="fas fa-search nav-link <%=  "nav-link-active" if current_page?(root_path) %>"><br><p>Accueil</p></i>
        <% end %>
      </li>

       <li class="nav-item">
        <%= link_to groceries_path do %>
          <i class="fas fa-clipboard-list nav-link <%=  "nav-link-active" if current_page?(groceries_path) %>"><br><p>Liste de<br>courses</p></i>
          <% end %>
      </li>

       <li class="nav-item">
        <%= link_to new_recipe_path do %>
          <i class="fas fa-plus-circle nav-link <%=  "nav-link-active" if current_page?(new_recipe_path) %>"><br><p>Ajouter une<br>recette</p></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
